﻿.bg-news {
	background-color: #eb4d4b;
}
figure a img {
	height: 62px !important;
}
.background-logo {
	background: #eb4d4b;
}
.description-article {
	opacity: 0.9;
	margin-bottom: 30px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 26px;
	max-height: calc(26px * 2);
	max-width: 80%;
	font-size: 18px
}