﻿
@{
	ViewData["Title"] = "GetCategory";
	Layout = "~/Areas/Se/Views/Shared/_Layout.cshtml";
}
@{
	var AllArticle = ViewBag.ArticleForCategory as GetResponse<ArticlePublicViewModel>;
	var ArticleNearest = ViewBag.ArticleNearest as GetResponse<ArticlePublicViewModel>;
	var AllCategory = ViewBag.AllCategory as GetResponse<CategoryPublicViewModel>;
	var x = 1;
}
<main class="position-relative">
	<!--Search Form-->
	<div class="main-search-form transition-02s">
		<div class="container">
			<div class="pt-10 pb-50 main-search-form-cover">
				<div class="row mb-20">
					<div class="col-12">
						<form action="#" method="get" class="search-form position-relative">
							<div class="search-form-icon"><i class="ti-search"></i></div>
							<label>
								<input type="text" class="search_field"
									   placeholder="Enter keywords for search..." value="" name="s">
							</label>
							<div class="search-switch">
								<ul class="list-inline">
									<li class="list-inline-item"><a href="#" class="active">Articles</a></li>
									<li class="list-inline-item"><a href="#">Authors</a></li>
								</ul>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-12 font-small suggested-area">
						<p class="d-inline font-small suggested"><strong>Suggested:</strong></p>
						<ul class="list-inline d-inline-block">
							<li class="list-inline-item"><a href="#">Covid-19</a></li>
							<li class="list-inline-item"><a href="#">Health</a></li>
							<li class="list-inline-item"><a href="#">WFH</a></li>
							<li class="list-inline-item"><a href="#">UltraNet</a></li>
							<li class="list-inline-item"><a href="#">Hospital</a></li>
							<li class="list-inline-item"><a href="#">Policies</a></li>
							<li class="list-inline-item"><a href="#">Energy</a></li>
							<li class="list-inline-item"><a href="#">Business</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--archive header-->
	<div class="archive-header text-center">
		<div class="container">
			<h2><span class="color2">@AllArticle.Models.FirstOrDefault().Category.Name</span></h2>
			<div class="breadcrumb">
				<a asp-area="Se" asp-controller="Home" asp-action="Index" rel="nofollow">Home</a>
				<span></span>
				@AllArticle.Models.FirstOrDefault().Category.Name
			</div>
			<div class="bt-1 border-color-1 mt-30 mb-50"></div>
		</div>
	</div>
	<!--main content-->
	<div class="main_content sidebar_right pb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<!--loop-list-->
					<div class="loop-list loop-list-1">
						@foreach (var item in AllArticle.Models.ToList().Take(1))
						{
							<article class="first-post mb-50 animate-conner">
								<div class="post-thumb d-flex mb-30 border-radius-5 img-hover-scale animate-conner-box">
									<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
										<img src="@item.Thumbnail" alt="">
									</a>
									<span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
								</div>
								<div class="post-content">
									<div class="entry-meta meta-0 font-small mb-15">
										<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id">
											<span class="post-cat background1 color-white">@item.Category.Name</span>
										</a>
									</div>
									<h3 class="post-title">
										<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
									</h3>
									<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
										<span class="post-by">By <a href="#">@item.User.FullName</a></span>
										<span class="post-on has-dot">@item.CreateAt</span>
									</div>
									<div class="post-excerpt mb-25">
										<p class="description-article">
											@Html.Raw(ConvertHelper.StripHTML(item.Content))
										</p>
									</div>
								</div>
							</article>
						}
						@foreach (var item in AllArticle.Models.ToList().Skip(1))
						{
							<article class="row mb-50">
								<div class="col-md-6">
									<div class="post-thumb position-relative thumb-overlay mr-20">
										<div class="img-hover-slide border-radius-5 position-relative">
											<img src="@item.Thumbnail" alt="" />
											<a class="img-link" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id"></a>
											<span class="top-right-icon background8">
												<i class="mdi mdi-flash-on"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="col-md-6 align-center-vertical">
									<div class="post-content">
										<div class="entry-meta meta-0 font-small mb-15">
											<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id">
												<span class="post-cat background2 color-white">@item.Category.Name</span>
											</a>
										</div>
										<h4 class="post-title">
											<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
												@item.Title
											</a>
										</h4>
										<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
											<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
											@*<span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
											<span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>*@
										</div>
										<p class="font-medium description-article">
											@Html.Raw(ConvertHelper.StripHTML(item.Content))
										</p>
										<a class="readmore-btn font-small text-uppercase font-weight-ultra"
										   asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
											Đọc thêm<i class="ti-arrow-right ml-5 transition-02s"></i>
										</a>
									</div>
								</div>
							</article>
						}

					</div>
					<!--pagination-->
					
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12 primary-sidebar sticky-sidebar">
					<div class="widget-area pl-30">
						<!--Widget latest posts style 1-->
						<div class="sidebar-widget widget_alitheme_lastpost mb-50">
							<div class="widget-header position-relative mb-20 pb-10">
								<h5 class="widget-title mb-10">Bài viết gần nhất</h5>
								<div class="bt-1 border-color-1"></div>
							</div>
							<div class="post-block-list post-module-1">
								<ul class="list-post">

									@foreach (var item in ArticleNearest.Models.ToList().Take(5))
									{
										<li class="mb-30">
											<div class="d-flex">
												<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
													<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
														<img src="@item.Thumbnail" alt="">
													</a>
												</div>
												<div class="post-content media-body">
													<div class="entry-meta meta-0 mb-10">
														<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id">
															<span class="post-in background1 color-white font-small">@item.Category.Name</span>
														</a>
													</div>
													<h6 class="post-title mb-10 text-limit-2-row">
														<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@Html.Raw(ConvertHelper.StripHTML(item.Content))</a>
													</h6>
													<div class="entry-meta meta-1 font-x-small color-grey">
														<span class="post-on">@item.CreateAt</span>
														@*<span class="hit-count has-dot">26k Views</span>*@
													</div>
												</div>
											</div>
										</li>
									}
								</ul>
							</div>
						</div>
						<!--Widget categories-->
						<div class="sidebar-widget widget_categories mb-50">
							<div class="widget-header position-relative mb-20 pb-10">
								<h5 class="widget-title mb-10">Danh mục bài viết</h5>
								<div class="bt-1 border-color-1"></div>
							</div>
							<div class="post-block-list post-module-1 post-module-5">
								<ul>
									@foreach (var item in AllCategory.Models)
									{
										<li class="cat-item cat-item-2"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id">@item.Name</a> (3)</li>

									}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

