﻿@model TinTuc.Service.Models.Request.UpdateRequest<Category>
@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}
@{
	var lstCategory = ViewData["lstCategory"] as GetResponse<Category>;
}
@section Scripts {
	<script src="~/Assets/System/scripts/category.js"></script>
}

