﻿
@{
    Layout = null;
}

<section class="wrapper__section p-0">
    <div class="wrapper__section__components">
        <footer>
            <div class="wrapper__footer bg__footer-dark pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="widget__footer">
                                <div class="dropdown-footer ">
                                    <h4 class="footer-title">
                                        world
                                        <span class="fa fa-angle-down"></span>
                                    </h4>

                                </div>

                                <ul class="list-unstyled option-content is-hidden">
                                    <li>
                                        <a href="#">global economy</a>

                                    </li>
                                    <li>
                                        <a href="#">religion</a>
                                    </li>
                                    <li>
                                        <a href="#">bitcoin</a>
                                    </li>
                                    <li>
                                        <a href="#">conflict</a>
                                    </li>
                                    <li>
                                        <a href="#">sports</a>
                                    </li>
                                    <li>
                                        <a href="#">scandals</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget__footer">
                                <div class="dropdown-footer">
                                    <h4 class="footer-title">
                                        entertainment
                                        <span class="fa fa-angle-down"></span>
                                    </h4>

                                </div>

                                <ul class="list-unstyled option-content is-hidden">
                                    <li>
                                        <a href="#">celebity news</a>
                                    </li>
                                    <li>
                                        <a href="#">movies</a>
                                    </li>
                                    <li>
                                        <a href="#">tv news</a>
                                    </li>
                                    <li>
                                        <a href="#">music news</a>
                                    </li>
                                    <li>
                                        <a href="#">life style</a>
                                    </li>
                                    <li>
                                        <a href="#">entertainment video</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget__footer">
                                <div class="dropdown-footer">
                                    <h4 class="footer-title">
                                        health
                                        <span class="fa fa-angle-down"></span>
                                    </h4>

                                </div>
                                <ul class="list-unstyled option-content is-hidden">
                                    <li>
                                        <a href="#">medical research</a>
                                    </li>
                                    <li>
                                        <a href="#">healthy living</a>
                                    </li>
                                    <li>
                                        <a href="#">mental health</a>
                                    </li>
                                    <li>
                                        <a href="#">virus corona</a>
                                    </li>
                                    <li>
                                        <a href="#">children's health</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="widget__footer">
                                <div class="dropdown-footer">
                                    <h4 class="footer-title">
                                        business
                                        <span class="fa fa-angle-down"></span>
                                    </h4>

                                </div>

                                <ul class="list-unstyled option-content is-hidden">
                                    <li>
                                        <a href="#">merkets</a>
                                    </li>
                                    <li>
                                        <a href="#">technology</a>
                                    </li>
                                    <li>
                                        <a href="#">features</a>
                                    </li>
                                    <li>
                                        <a href="#">property</a>
                                    </li>
                                    <li>
                                        <a href="#">business leaders</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <figure class="image-logo">
                                    <img src="images/logo2.png" alt="" class="logo-footer">
                                </figure>
                            </div>
                            <div class="col-md-8 my-auto ">

                                <div class="social__media">

                                    <ul class="list-inline">

                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-social rounded text-white facebook">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-social rounded text-white twitter">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-social rounded text-white whatsapp">
                                                <i class="fa fa-whatsapp"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-social rounded text-white telegram">
                                                <i class="fa fa-telegram"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="#" class="btn btn-social rounded text-white linkedin">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer bottom -->
            <div class="wrapper__footer-bottom bg__footer-dark">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-top-1 bg__footer-bottom-section">
                                <ul class="list-inline link-column">
                                    <li class="list-inline-item">
                                        <a href="contact-us.html">
                                            contact us
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#"> terms of use</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            adchoice
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="about-us.html">
                                            about us
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            newsletters
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            sitemap
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#">
                                            magrenvi store
                                        </a>
                                    </li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <span>
                                            Copyright © 2019 News and Magazine template based on Bootstrap 4 Theme by <a href="#">retenvi</a>
                                        </span>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</section>