﻿
@{
	ViewData["Title"] = "List Category";
	ViewData["View"] = "Datatable";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}

<div class="card">
	<div class="card-header">
		<h5>@ViewData["Title"]</h5>
		<button type="button" class="btn btn-primary right" title="" data-toggle="tooltip" data-original-title="Create Category" style="float: right;"onclick="ShowModalCreateCategory()">
			Create Category
		</button>
	</div>
	<div class="card-body">
		<div class="dt-responsive table-responsive">
			<table id="table-categories" class="table table-striped table-bordered nowrap">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Description</th>
						<th>Parent</th>
						<th>Status</th>
						<th>User Create</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal Edit -->
<div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="id" value="" />
				<div class="example-wrap">
					<h4 class="example-title">Name</h4>
					<input type="text" class="form-control round" name="Name" autofocus>
				</div>
				<div class="example-wrap">
					<h4 class="example-title"></h4>
					<div class="form-group">
						<label for="Parent">Parent</label>
						<select class="form-control" id="Parent" name="Parent">
							@*@foreach (var item in lstCategory.Models)
								{
									<option value="@item.Id">@item.Name</option>
								}*@
						</select>
					</div>
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Description</h4>
					<textarea id="summernote-category" name="Description" class="form-control"></textarea>
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Showing</h4>
					<div class="form-group">
						<select class="form-control" id="isShow" name="Status">
							<option value="@Status.Active" selected>Showing</option>
							<option value="@Status.InActive">Not Show</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btn-create-category-modal" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Delete -->
<div id="deleteCategoryModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger btnDeleteCate">Delete</button>
			</div>
		</div>
	</div>
</div>
@section Scripts
{
	<script src="~/Assets/System/scripts/category.js"></script>
}

