﻿
@{
	ViewData["Title"] = "List User";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}

@section Scripts {

	<script src="~/Assets/System/scripts/user.js"></script>
}
<div class="card">
	<div class="card-header">
		<h5>@ViewData["Title"]</h5>
		<button type="button" class="btn btn-primary right" title="" data-toggle="tooltip" data-original-title="Create User" style="float: right;" onclick="ShowModalCreateUser()">
			Create User
		</button>
	</div>
	<div class="card-body">
		<div class="dt-responsive table-responsive">
			<table id="table-users" class="table table-striped table-bordered nowrap">
				<thead>
					<tr>
						<th>#</th>
						<th>FullName</th>
						<th>UserName</th>
						<th>Email</th>
						<th>Gender</th>
						<th>Phone</th>
						<th>Locked</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- Modal Edit -->
<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" name="id" value="" />
				<div class="example-wrap">
					<h4 class="example-title">FullName</h4>
					<input type="text" class="form-control round" name="fullname" autofocus>
				</div>
				<div class="example-wrap">
					<h4 class="example-title">UserName</h4>
					<input type="text" class="form-control round" name="userName">
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Email</h4>
					<input type="text" class="form-control round" name="email">
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Password</h4>
					<input type="password" class="form-control round" name="password">
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Gender</h4>
					<div class="form-group">
						<select class="form-control" id="gender" name="gender">
							<option value="male" selected>Male</option>
							<option value="female">Female</option>
						</select>
					</div>
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Phone</h4>
					<input type="text" class="form-control round" name="phone">
				</div>
				<div class="example-wrap">
					<h4 class="example-title">Locked</h4>
					<div class="form-group">
						<select class="form-control" id="LockoutEnabled" name="LockoutEnabled">
							<option value="false" selected>Not Locked</option>
							<option value="true">Locked</option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" id="btn-create-user-modal" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!--Delete User Modal-->
<div id="deleteUserModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Are you sure?</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger btnDeleteCate">Delete</button>
			</div>
		</div>
	</div>
</div>
