﻿
@{
	ViewData["Title"] = "Category";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
	var countArticle = ViewBag.countArticle; 
	var countCategory = ViewBag.countCategory; 
	var countUser = ViewBag.countUser; 
}
<div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-red">
        <div class="card-body">
            <div class="row align-items-center m-b-25">
                <div class="col">
                    <h6 class="m-b-5 text-white">Total Category</h6>
                    <h3 class="m-b-0 text-white">@countCategory</h3>
                </div>
                <div class="col-auto">
                    <i class="fas fa-money-bill-alt text-c-red f-18"></i>
                </div>
            </div>
            <p class="m-b-0 text-white">
                <span class="label label-danger m-r-10">+12%</span>From Previous Month
            </p>
        </div>
    </div>
</div>
<div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-blue">
        <div class="card-body">
            <div class="row align-items-center m-b-25">
                <div class="col">
                    <h6 class="m-b-5 text-white">Total Articles</h6>
                    <h3 class="m-b-0 text-white">@countArticle</h3>
                </div>
                <div class="col-auto">
                    <i class="fas fa-database text-c-blue f-18"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-md-6">
    <div class="card prod-p-card bg-c-yellow">
        <div class="card-body">
            <div class="row align-items-center m-b-25">
                <div class="col">
                    <h6 class="m-b-5 text-white">Total User</h6>
                    <h3 class="m-b-0 text-white">@countUser</h3>
                </div>
                <div class="col-auto">
                    <i class="fas fa-tags text-c-yellow f-18"></i>
                </div>
            </div>
        </div>
    </div>
</div>


