﻿
@{
    ViewData["Title"] = "Authenticate";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Authenticate  - News</title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="icon" href="http://html.phoenixcoded.net/elite-able/bootstrap/assets/images/favicon.ico"
          type="image/x-icon">

    <link rel="stylesheet" href="~/Assets/System/fonts/fontawesome/css/fontawesome-all.min.css">

    <link rel="stylesheet" href="~/Assets/System/plugins/animation/css/animate.min.css">

    <link rel="stylesheet" href="~/Assets/System/css/style.css">
</head>
<body>
    <div class="auth-wrapper">
        <div class="auth-content container">
            <div class="card">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="mb-4">Welcome to <span class="text-c-blue">News</span></h2>
                            <p>
                                News - Update article every days
                            </p>
                            <div class="toggle-block">
                                <ol class="position-relative carousel-indicators justify-content-start">
                                    <li class=""></li>
                                    <li class="active"></li>
                                </ol>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                    </div>
                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                                <button class="btn btn-primary mb-4 btn-login">Login</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-none d-md-block">
                        <img src="~/Assets/System/images/auth/img-auth-2.jpg" alt=""
                             class="img-fluid bd-placeholder-img bd-placeholder-img-lg d-block w-100">
                        <img src="~/Assets/Se/imgs/logonews.png" alt="" class="img-fluid img-logo-overlay">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Assets/System/js/vendor-all.min.js"></script>
    <script src="~/Assets/System/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script>
		$('.btn-login').click(function () {
			var email = $('input[name="email"]').val();
			var password = $('input[name="password"]').val();
			console.log('email', email);
			console.log('password', password);
		});
    </script>
</body>
</html>
