﻿@model TinTuc.Service.Models.Request.UpdateRequest<Article>
@{
	ViewData["Title"] = "Create Article";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}
@{
	var lstCategory = ViewData["lstCategory"] as GetResponse<Article>;
}
@section Css {
	<link href="~/Assets/System/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
}
@section Scripts {
	<script src="~/Assets/System/scripts/article.js"></script>
	<script src="~/Assets/System/plugins/ckeditor/ckeditor.js"></script>
	<script src="~/Assets/System/plugins/ckeditor/adapters/jquery.js"></script>
	<script src="~/Assets/System/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script>
		$("#ArticleContent").ckeditor();
	</script>
}
<div class="card">
	<div class="card-header">
		<h5>@ViewData["Title"]</h5>
		<button type="button" class="btn btn-primary right" title="" data-toggle="tooltip" data-original-title="Create Article" style="float: right;">
			<a asp-area="System" asp-controller="Article" asp-action="Create" style="color: white;">Create Article</a>
		</button>
	</div>
	<div class="card-body">
		<div class="form-group">
			<label for="Title">Title</label>
			<input type="text" class="form-control" id="Title" name="Title" placeholder="Enter Title">
			@*<small id="emailHelp" class="form-text text-muted">You can input </small>*@
		</div>
		<div class="form-group">
			<label for="Thumbnail">Thumbnail</label>
			<input type="file" name="image" value="" class="form-control" id="Thumbnail" />
			<input type="hidden" name="imagevalue" value="" id="ImageValue" />
			<img id="blah" style="max-width: 150px;max-height: 150px;" />
			@*<small id="emailHelp" class="form-text text-muted">You can input </small>*@
		</div>
		<div>
			<textarea id="ArticleContent" name="Content"></textarea>
		</div>
		<div class="col-xl-4 col-md-6 mb-5">
			<h5>Category</h5>
			<select id="Category" multiple>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" id="isShow" name="Status">
				<option value="@Status.Active" selected>Showing</option>
				<option value="@Status.InActive">Not Show</option>
			</select>
		</div>
	</div>
	<div class="card-footer">
		<button type="button" class="btn btn-success btn-create-article" title="" data-toggle="tooltip" data-original-title="Create Article">Create</button>
	</div>
</div>
