﻿
@{
	ViewData["Title"] = "Edit Article";
	Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}
@{
	var article = ViewBag.article as GetResponse<Article>;
	var category = ViewBag.category as GetResponse<Category>;
	var x = 123;
}
@section Scripts {
	<script src="~/Assets/System/scripts/article.js"></script>
	<script src="~/Assets/System/plugins/ckeditor/ckeditor.js"></script>
	<script src="~/Assets/System/plugins/ckeditor/adapters/jquery.js"></script>
	<script src="~/Assets/System/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script type="text/javascript">
		var countAddCategoryToSelectOption = true;
		var content = `@Html.Raw(@ViewBag.article.Model.Content)`;
		$("#ArticleContent").ckeditor();
		$("#ArticleContent").val(content);
	</script>
}
<div class="card">
	<div class="card-header">
		<h5>@ViewData["Title"]</h5>
		@*<button type="button" class="btn btn-primary right" title="" data-toggle="tooltip" data-original-title="Create Article" style="float: right;">
				<a asp-area="System" asp-controller="Article" asp-action="Create" style="color: white;">Create Article</a>
			</button>*@
	</div>
	<div class="card-body">
		<div class="form-group">
			<label for="Title">Title</label>
			<input type="text" class="form-control" id="Title" name="Title" placeholder="Enter Title" value="@article.Model.Title">
			<input type="hidden" name="id" value="@article.Model.Id" />
			@*<small id="emailHelp" class="form-text text-muted">You can input </small>*@
		</div>
		<div class="form-group">
			<label for="Thumbnail">Thumbnail</label>
			<input type="file" name="image" value="" class="form-control" id="Thumbnail" />
			<input type="hidden" name="imagevalue" value="" id="ImageValue" />
			<img id="blah" style="max-width: 150px;max-height: 150px;" src="@article.Model.Thumbnail" />
			@*<small id="emailHelp" class="form-text text-muted">You can input </small>*@
		</div>
		<div>
			<textarea id="ArticleContent" name="Content"></textarea>
		</div>
		<div class="col-xl-4 col-md-6 mb-5">
			<h5>Category</h5>
			<select id="Category" multiple>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" id="isShow" name="Status">
				<option value="@Status.Active">Showing</option>
				<option value="@Status.InActive">Not Show</option>
			</select>
		</div>
	</div>
	<div class="card-footer">
		<button type="button" class="btn btn-success btn-edit-create" title="" data-toggle="tooltip" data-original-title="Edit Article">Edit</button>
	</div>
</div>

