﻿
@{
    ViewData["Title"] = "List Article";
    Layout = "~/Areas/System/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script src="~/Assets/System/scripts/article.js"></script>
}
<div class="card">
    <div class="card-header">
        <h5>@ViewData["Title"]</h5>
        <button type="button" class="btn btn-primary right" title="" data-toggle="tooltip" data-original-title="Create Article" style="float: right;" >
            <a asp-area="System" asp-controller="Article" asp-action="Create" style="color: white;">Create Article</a>
        </button>
    </div>
    <div class="card-body">
        <div class="dt-responsive table-responsive">
            <table id="table-articles" class="table table-striped table-bordered table-hover nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Thumbnail</th>
                        <th>Status</th>
                        <th>User Create</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>