﻿<footer>
	<!-- footer-bottom aera -->
	<div class="footer-bottom-area background11">
		<div class="container">
			<div class="footer-border pt-30 pb-30">
				<div class="row d-flex align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="footer-copy-right">
							<p class="font-medium">© 2020, News | All rights reserved | Design by <a href="https://www.facebook.com/viethoang2812" target="_blank">Nhóm 17</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer End-->
</footer>