﻿@using TinTuc.Service.Models.Response;
@using TinTuc.Service.ViewModels;
@{
	var lstCategory = ViewBag.lstCategory as GetResponse<CategoryPublicViewModel>;
	var x = 0;
}
@section Scripts {
	@*<script src="~\Assets\Se\js\home.js"></script>*@
}
<div class="header-bottom header-sticky background-white text-center">
	<div class="mobile_menu d-lg-none d-block"></div>
	<div class="fluid-container">
		<div class="row">
			<div class="col-12">
				<div class="logo-tablet d-md-inline d-lg-none d-none">
					<a asp-area="Se" asp-controller="Home" asp-action="Index">
						<img class="logo-img d-inline" src="/Assets/Se/imgs/logo-tablet.png" alt="">
					</a>
				</div>
				<div class="logo-mobile d-inline d-md-none">
					<a asp-area="Se" asp-controller="Home" asp-action="Index">
						<img class="logo-img d-inline" src="/Assets/Se/imgs/logo-mobile.png" alt="" style="height:30px;">
					</a>
				</div>
				<!-- Main-menu -->
				<div class="main-nav text-center d-none d-lg-block">
					<nav>
						<ul id="navigation" class="main-menu">
							<li class="">
								<!--Menu-item-has-children-->
								<a asp-area="Se" asp-controller="Home" asp-action="Index">Trang chủ</a>
							</li>
							@foreach (var item in lstCategory.Models)
							{
								if (item.ListCategoryChild.Count > 0)
								{
									<li class="menu-item-has-children">
										<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id">@item.Name</a>
										<ul class="sub-menu">
											@foreach (var b in item.ListCategoryChild)
											{
												<li><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@b.Id">@b.Name</a></li>
											}
										</ul>
									</li>

								}
								else
								{
									<li><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Id">@item.Name</a></li>
								}

							}
						</ul>
					</nav>
				</div>
				<!-- Search -->
				@*<div class="seach_box">
					<input class="input_box" type="text" name="search" value="" placeholder="Tìm kiếm" />
					<a class="btn-search" href="javascript:void(0)">
						<i class="fas fa-search"></i>
					</a>
				</div>*@
			</div>
		</div>
	</div>
</div>
<style>
	.seach_box {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(-50%,-50%);
		background-color: #f6e58d;
		height: 40px;
		border-radius: 40px;
		padding: 10px;
	}

	.input_box {
		border: none;
		outline: none;
		background: none;
		float: left;
		padding: 0;
		color: #eb4d4b;
		font-size: 16px;
		line-height:30px;
	}

	.btn-search {
		color: #1abc9c;
		float: right;
		text-decoration: none;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		border-radius: 50%;
	}

	.seach_box:hover .input_box {
		width: 240px;
		padding: 0 6px;
	}

	.seach_box:hover .btn-search {
		background-color: #fff;
	}
</style>