﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Se/Views/Shared/_Layout.cshtml";
}
@{
	var ArticleCovid = ViewBag.ArticleCovid as GetResponse<ArticlePublicViewModel>;
	var ArticleTech = ViewBag.ArticleTech as GetResponse<ArticlePublicViewModel>;
	var ArticleLaw = ViewBag.ArticleLaw as GetResponse<ArticlePublicViewModel>;
	var ArticleTravel = ViewBag.ArticleTravel as GetResponse<ArticlePublicViewModel>;
	var ArticleidSociety = ViewBag.ArticleidSociety as GetResponse<ArticlePublicViewModel>;
	var AllArticleRandom = ViewBag.AllArticleRandom as GetResponse<ArticlePublicViewModel>;
	var AllArticle = ViewBag.AllArticle as GetResponse<ArticlePublicViewModel>;
	var AllArticleRandom4 = ViewBag.AllArticleRandom4;
}
<main class="position-relative pt-40 background12">
	<!--Search Form-->
	<div class="main-search-form transition-02s">
		<div class="container">
			<div class="pt-10 pb-50 main-search-form-cover">
				<div class="row mb-20">
					<div class="col-12">
						<form action="#" method="get" class="search-form position-relative">
							<div class="search-form-icon"><i class="ti-search"></i></div>
							<label>
								<input type="text" class="search_field"
									   placeholder="Enter keywords for search..." value="" name="s">
							</label>
							<div class="search-switch">
								<ul class="list-inline">
									<li class="list-inline-item"><a href="#" class="active">Articles</a></li>
									<li class="list-inline-item"><a href="#">Authors</a></li>
								</ul>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-12 font-small suggested-area">
						<p class="d-inline font-small suggested"><strong>Suggested:</strong></p>
						<ul class="list-inline d-inline-block">
							<li class="list-inline-item"><a href="#">Covid-19</a></li>
							<li class="list-inline-item"><a href="#">Health</a></li>
							<li class="list-inline-item"><a href="#">WFH</a></li>
							<li class="list-inline-item"><a href="#">UltraNet</a></li>
							<li class="list-inline-item"><a href="#">Hospital</a></li>
							<li class="list-inline-item"><a href="#">Policies</a></li>
							<li class="list-inline-item"><a href="#">Energy</a></li>
							<li class="list-inline-item"><a href="#">Business</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Featured post Start-->
	<div class="home-featured mb-50">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="featured-slider-1 border-radius-10">
						<div class="featured-slider-1-items">
							@foreach (var item in ArticleCovid.Models.ToList().OrderByDescending(x => x.CreateAt).Take(1))
							{
								<div class="slider-single">
									<div class="row no-gutters">
										<div class="col-lg-6 col-md-12 order-lg-1 order-2 align-center-vertical">
											<div class="slider-caption">
												<div class="entry-meta meta-0 mb-25">
													<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-in background1 color-white font-small">Covid - 19</span></a>
												</div>
												<h2 class="post-title"><a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h2>
												<div class="entry-meta meta-1 font-small color-grey mt-20 mb-20">
													<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
												</div>
												<p class="excerpt font-medium mt-25 mb-25 description-article">@Html.Raw(ConvertHelper.StripHTML(@item.Content))</p>
												<div class="entry-meta meta-2">
													<a class="float-left mr-10 author-img" href="javascript:void(0)"><img src="~/Assets/Se/imgs/author.png" alt=""></a>
													<a href="#"><span class="author-name">@item.User.FullName</span></a>
													<br>
													<span class="author-add color-grey">@item.User.Email</span>
												</div>
											</div>
										</div>
										<div class="slider-img col-lg-6 order-lg-2 order-1 col-md-12">
											<div class="img-hover-scale">
												<span class="top-right-icon background8"><i class="mdi mdi-favorite"></i></span>
												<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
													<img src="@item.Thumbnail" alt="@item.Title">
												</a>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="arrow-cover"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Recent Posts Start -->
	<div class="pt-50 pb-50 background-white">
		<div class="container mb-50">
			<div class="row">
				<div class="col-lg-12">
					<div class="row d-flex justify-content-between">
						<div class="col-lg-3 col-md-3">
							<div class="widget-header position-relative mb-30">
								<h5 class="widget-title mb-30 text-uppercase color4 font-weight-ultra">Hàng tuần</h5>
								<div class="letter-background">TUẦN</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9">
							<!--Tab Nav  -->
							<nav class="tab-nav style-1">
								<div class="nav nav-tabs" role="tablist">
									<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="mr-5 ti-pulse"></i>Tất cả</a>
									<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Công nghệ</a>
									<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Du lịch</a>
									<a class="nav-item nav-link" id="nav-last-tab" data-toggle="tab" href="#nav-last" role="tab" aria-controls="nav-contact" aria-selected="false">Xã hội</a>
									<a class="nav-item nav-link" id="nav-Sports" data-toggle="tab" href="#nav-nav-Sport" role="tab" aria-controls="nav-contact" aria-selected="false">Covid - 19</a>
								</div>
							</nav>
							<!--End Tab Nav  -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<!-- Tab content -->
							<div class="tab-content" id="nav-tabContent">
								<!-- Tab one -->
								<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
									<div class="block-tab-item post-module-2 post-module-1">
										<div class="row">
											@foreach (var item in AllArticleRandom.Models.ToList().Take(1))
											{
												<div class="col-md-6">
													<div class="post-block-style">
														<div class="post-thumb position-relative thumb-overlay mb-15">
															<div class="img-hover-slide border-radius-5 position-relative" @*style="background-image: url(/Assets/Se/imgs/news-9.jpg)*@>
																<img src="@item.Thumbnail" alt="@item.Title" />
																<a class="img-link" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id"></a>
																<div class="post-content-overlay entry-meta meta-0 font-small transition-ease-04"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-cat background1 color-white">@item.Category.Name</span></a></div>
																<span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
															</div>
														</div>
														<div class="post-content">
															<h4 class="post-title">
																<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
															</h4>
															<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
																<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
																@*<span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
																	<span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>*@
															</div>
															<p class="font-medium d-none d-lg-block description-article">@Html.Raw(ConvertHelper.StripHTML(item.Content))</p>
														</div>
													</div>
												</div>
											}

											<div class="col-md-6">
												<div class="row">
													@foreach (var ac in AllArticleRandom4)
													{
														<div class="col-md-6 col-sm-6 sm-grid-content mb-30">
															<div class="post-thumb d-flex border-radius-5 img-hover-scale mb-15">
																<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@ac.Id">
																	<img src="@ac.Thumbnail" alt="">
																</a>
																<div class="post-content-overlay entry-meta meta-0 font-small transition-ease-04"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@ac.Category.Id"><span class="post-cat background1 color-white">@ac.Category.Name</span></a></div>
															</div>

															<div class="post-content media-body">
																<h6 class="post-title mb-10 text-limit-2-row"><a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@ac.Id">@ac.Title</a></h6>
																<div class="entry-meta meta-1 font-x-small color-grey">
																	<span class="post-on">@ac.CreateAt</span>
																</div>
															</div>
														</div>
													}
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Tab two -->
								<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
									<div class="block-tab-item post-module-1">
										<div class="row">
											<div class="col-md-6">
												@foreach (var item in ArticleTech.Models.ToList().Take(1))
												{
													<div class="post-block-style">
														<div class="post-thumb position-relative thumb-overlay mb-15">
															<div class="img-hover-slide border-radius-5 position-relative">
																<img src="@item.Thumbnail" alt="" />
																<a class="img-link"></a>
																<div class="post-content-overlay entry-meta meta-0 font-small transition-ease-04"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-cat background1 color-white">@item.Category.Name</span></a></div>
															</div>
														</div>
														<div class="post-content">
															<h4 class="post-title">
																<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
															</h4>
															<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
																<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
																@*<span class="time-reading"><i class="ti-timer"></i>10 mins read</span>
																	<span class="hit-count"><i class="ti-bolt"></i> 159k Views</span>*@
															</div>
															<p class="font-medium description-article">@Html.Raw(ConvertHelper.StripHTML(item.Content))</p>
														</div>
													</div>
												}
											</div>
											<div class="col-md-6">
												<div class="post-block-list">
													<ul class="list-post">
														@foreach (var item in ArticleTech.Models.ToList().Skip(1).Take(4))
														{
															<li class="mb-30">
																<div class="d-flex">
																	<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
																		<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
																			<img src="@item.Thumbnail" alt="">
																		</a>
																	</div>
																	<div class="post-content media-body">
																		<div class="entry-meta meta-0 mb-5">
																			<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-in color5 font-small pl-0">@item.Category.Name</span></a>
																		</div>
																		<h6 class="post-title mb-10 text-limit-2-row"><a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h6>
																		<div class="entry-meta meta-1 font-x-small color-grey">
																			<span class="post-on">@item.CreateAt</span>
																			@*<span class="hit-count has-dot">26k Views</span>*@
																		</div>
																	</div>
																</div>
															</li>
														}
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Tab three -->
								<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
									<div class="block-tab-item post-module-1">
										<div class="row mb-30">
											@foreach (var item in ArticleTravel.Models.ToList().Take(1))
											{
												<div class="col-md-6">
													<div class="post-thumb position-relative thumb-overlay">
														<div class="img-hover-slide border-radius-5 position-relative">
															<img src="@item.Thumbnail" alt="Alternate Text" />
															<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id"></a>
														</div>
													</div>
												</div>
												<div class="col-md-6 align-center-vertical">
													<div class="post-content">
														<div class="entry-meta meta-0 font-small mb-15"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-cat background1 color-white">@item.Category.Name</span></a></div>
														<h4 class="post-title">
															<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
														</h4>
														<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
															<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
														</div>
														<p class="font-medium description-article">@Html.Raw(ConvertHelper.StripHTML(item.Content))</p>
													</div>
												</div>
											}

										</div>
										<div class="row list-post">
											@foreach (var item in ArticleTravel.Models.ToList().Skip(1).Take(4))
											{
												<div class="col-md-6 d-flex mb-30">
													<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
														<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
															<img src="@item.Thumbnail" alt="">
														</a>
													</div>
													<div class="post-content media-body">
														<div class="entry-meta meta-0 mb-5">
															<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-in color5 font-small pl-0">@item.Category.Name</span></a>
														</div>
														<h6 class="post-title mb-10 text-limit-2-row"><a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a></h6>
														<div class="entry-meta meta-1 font-x-small color-grey">
															<span class="post-on">@item.CreateAt</span>
														</div>
													</div>
												</div>
											}

										</div>
									</div>
								</div>
								<!-- Tab four -->
								<div class="tab-pane fade" id="nav-last" role="tabpanel" aria-labelledby="nav-last-tab">
									<div class="block-tab-item post-module-1">
										<div class="row">
											@foreach (var item in ArticleidSociety.Models.ToList().Take(6))
											{
												<div class="col-md-4">
													<div class="post-thumb position-relative mb-30">
														<div class="thumb-overlay img-hover-slide border-radius-5 position-relative">
															<img src="@item.Thumbnail" />
															<a class="img-link" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id"></a>
															<div class="post-content-overlay">
																<div class="entry-meta meta-0 font-small mb-10">
																	<a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-cat background1 color-white">@item.Category.Name</span></a>
																</div>
																<h6 class="post-title">
																	<a class="color-white" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
																</h6>
																<div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
																	<span class="post-on">@item.CreateAt</span>
																	@*<span class="hit-count has-dot">23k Views</span>
																		<a class="float-right" href="#"><i class="ti-heart"></i></a>*@
																</div>
															</div>
														</div>
													</div>
												</div>
											}

										</div>
									</div>
								</div>
								<!-- Tab five -->
								<div class="tab-pane fade" id="nav-nav-Sport" role="tabpanel" aria-labelledby="nav-Sports">
									<div class="row">
										@foreach (var item in ArticleCovid.Models.ToList().Take(6))
										{
											<div class="slider-single col-md-4 mb-30">
												<div class="img-hover-scale border-radius-5">
													<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">
														<img class="border-radius-5" src="@item.Thumbnail" alt="post-slider">
													</a>
												</div>
												<h6 class="post-title pr-5 pl-5 mb-10 mt-15 text-limit-2-row">
													<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
												</h6>
												<div class="entry-meta meta-1 font-small color-grey mt-10 pr-5 pl-5">
													@*<span class="post-on">02 Jan</span>*@
												</div>
											</div>
										}

									</div>
								</div>
							</div>
							<!-- End Tab content-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Recent Posts End -->
	<!--  Recent Articles start -->
	<div class="recent-area pt-50 pb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="widget-header position-relative mb-30">
						<h5 class="widget-title mb-30 text-uppercase color1 font-weight-ultra">Bài viết gần đây</h5>
						<div class="letter-background">G</div>
					</div>
					<div class="loop-list">
						@foreach (var item in AllArticle.Models.ToList().Take(5))
						{<article class="row mb-50">
								<div class="col-md-6">
									<div class="post-thumb position-relative thumb-overlay mr-20">
										<div class="img-hover-slide border-radius-5 position-relative" style="background-image: url()">
											<img src="@item.Thumbnail" alt="" />
											<a class="img-link" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
											<span class="top-right-icon background8"><i class="mdi mdi-flash-on"></i></span>
										</div>
									</div>
								</div>
								<div class="col-md-6 align-center-vertical">
									<div class="post-content">
										<div class="entry-meta meta-0 font-small mb-15"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@item.Category.Id"><span class="post-cat background2 color-white">@item.Category.Name</span></a></div>
										<h4 class="post-title">
											<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
										</h4>
										<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
											<span class="post-on"><i class="ti-marker-alt"></i>@item.CreateAt</span>
										</div>
										<p class="font-medium description-article">@Html.Raw(ConvertHelper.StripHTML(item.Content))</p>
										<a class="readmore-btn font-small text-uppercase font-weight-ultra" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">Đọc thêm...<i class="ti-arrow-right ml-5"></i></a>
									</div>
								</div>
							</article>

						}

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Recent Articles End -->
</main>