﻿
@{
    Layout = null;
}
<div class="banner_slider_wrap">
    <div class="banner_slider">
        <div><img src="~/Assets/Se/img/slider_banner_1.png" alt="Alternate Text" /></div>
        <div><img src="~/Assets/Se/img/slider_banner_2.png" alt="Alternate Text" /></div>
        <div><img src="~/Assets/Se/img/slider_banner_3.png" alt="Alternate Text" /></div>
        <div><img src="~/Assets/Se/img/slider_banner_4.png" alt="Alternate Text" /></div>
        <div><img src="~/Assets/Se/img/slider_banner_5.png" alt="Alternate Text" /></div>
    </div>
</div>
<script>
		$('.banner_slider').slick({
			dots: true,
			infinite: true,
			speed: 1000,
			autoplay: true,
			fade: true,
			autoplaySpeed: 500,
			slidesToShow: 1
		});
</script>