﻿
@{
	ViewData["Title"] = "_Menubar";
	Layout = null;
}

<div class="site-menubar">
	<div class="site-menubar-body">
		<div>
			<div>
				<ul class="site-menu" data-plugin="menu">
					<li class="site-menu-category">TinTuc</li>

					<li class="site-menu-item has-sub">
						<a href="@Url.Action("Index","Home",new{ area = "System"})">
							<i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
							<span class="site-menu-title">Homepage</span>
							<div class="site-menu-badge">
								<span class="badge badge-pill badge-success">3</span>
							</div>
						</a>
					</li>
					<li class="site-menu-item has-sub">
						<a href="@Url.Action("Index","Category",new{ area = "System"})">
							<i class="site-menu-icon wb-layout" aria-hidden="true"></i>
							<span class="site-menu-title">Category</span>
							@*<span class="site-menu-arrow"></span>*@
						</a>
					</li>
					<li class="site-menu-item has-sub">
						<a href="@Url.Action("Index","Article",new{ area = "System"})">
							<i class="site-menu-icon wb-file" aria-hidden="true"></i>
							<span class="site-menu-title">Articles</span>
							@*<span class="site-menu-arrow"></span>*@
						</a>
					</li>
				</ul>

				@*<div class="site-menubar-section">
						<h5>
							Milestone
							<span class="float-right">30%</span>
						</h5>
						<div class="progress progress-xs">
							<div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
						</div>
						<h5>
							Release
							<span class="float-right">60%</span>
						</h5>
						<div class="progress progress-xs">
							<div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
						</div>
					</div>*@
			</div>
		</div>
	</div>

	<div class="site-menubar-footer">
		<a href="javascript: void(0);" class="fold-show" data-placement="top" data-toggle="tooltip"
		   data-original-title="Settings">
			<span class="icon wb-settings" aria-hidden="true"></span>
		</a>
		<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
			<span class="icon wb-eye-close" aria-hidden="true"></span>
		</a>
		<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
			<span class="icon wb-power" aria-hidden="true"></span>
		</a>
	</div>
</div>

