﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>News - Tin tức cập nhật hàng giờ</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/Assets/Se/imgs/favicon.png">
	<!-- UltraNews CSS  -->
	<link rel="stylesheet" href="~/Assets/Se/css/style.css">
	<link rel="stylesheet" href="~/Assets/Se/css/widgets.css">
	<link rel="stylesheet" href="~/Assets/Se/css/color.css">
	<link rel="stylesheet" href="~/Assets/Se/css/responsive.css">
	<link rel="stylesheet" href="~/Assets/Se/css/custom.css">
	@RenderSection("Css", required: false)
</head>
<body>
	<div class="scroll-progress primary-bg"></div>
	<div class="main-wrap">
		<!--Offcanvas sidebar-->
		<aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar">
			<button class="off-canvas-close"><i class="ti-close"></i></button>
			<div class="sidebar-inner">
				<!--Categories-->
				<div class="sidebar-widget widget_categories mb-50">
					<div class="widget-header position-relative mb-20">
						<h5 class="widget-title mt-5">Categories</h5>
					</div>
					<div class="post-block-list post-module-1 post-module-5">
						<ul>
							<li class="cat-item cat-item-2"><a href="category.html">Beauty</a> (3)</li>
							<li class="cat-item cat-item-3"><a href="category.html">Book</a> (6)</li>
							<li class="cat-item cat-item-4"><a href="category.html">Design</a> (4)</li>
							<li class="cat-item cat-item-5"><a href="category.html">Fashion</a> (3)</li>
							<li class="cat-item cat-item-6"><a href="category.html">Lifestyle</a> (6)</li>
							<li class="cat-item cat-item-7"><a href="category.html">Travel</a> (2)</li>
						</ul>
					</div>
				</div>
				<div class="sidebar-widget widget-latest-posts mb-30">
					<div class="widget-header position-relative mb-30">
						<h5 class="widget-title mt-5 mb-30">Fashion</h5>
					</div>
					<div class="post-block-list post-module-1 post-module-5">
						<ul class="list-post">
							<li class="mb-30">
								<div class="d-flex">
									<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
										<a class="color-white" href="single.html">
											<img src="/Assets/Se/imgs/thumbnail-1.jpg" alt="">
										</a>
									</div>
									<div class="post-content media-body">
										<h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Traveling Tends to Magnify All Human Emotions</a></h6>
										<div class="entry-meta meta-1 font-x-small color-grey">
											<span class="post-on">25 April</span>
											<span class="hit-count has-dot">26k Views</span>
										</div>
									</div>
								</div>
							</li>
							<li class="mb-30">
								<div class="d-flex">
									<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
										<a class="color-white" href="single.html">
											<img src="/Assets/Se/imgs/thumbnail-2.jpg" alt="">
										</a>
									</div>
									<div class="post-content media-body">
										<h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">The Luxury Of Traveling With Yacht</a></h6>
										<div class="entry-meta meta-1 font-x-small color-grey mt-10">
											<span class="post-on">25 April</span>
											<span class="hit-count has-dot">37k Views</span>
										</div>
									</div>
								</div>
							</li>
							<li class="mb-30">
								<div class="d-flex">
									<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
										<a class="color-white" href="single.html">
											<img src="/Assets/Se/imgs/thumbnail-3.jpg" alt="">
										</a>
									</div>
									<div class="post-content media-body">
										<h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
										<div class="entry-meta meta-1 font-x-small color-grey mt-10">
											<span class="post-on">25 April</span>
											<span class="hit-count has-dot">54k Views</span>
										</div>
									</div>
								</div>
							</li>
							<li class="mb-30">
								<div class="d-flex">
									<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
										<a class="color-white" href="single.html">
											<img src="/Assets/Se/imgs/thumbnail-4.jpg" alt="">
										</a>
									</div>
									<div class="post-content media-body">
										<h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
										<div class="entry-meta meta-1 font-x-small color-grey mt-10">
											<span class="post-on">25 April</span>
											<span class="hit-count has-dot">54k Views</span>
										</div>
									</div>
								</div>
							</li>
							<li class="mb-30">
								<div class="d-flex">
									<div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
										<a class="color-white" href="single.html">
											<img src="/Assets/Se/imgs/thumbnail-5.jpg" alt="">
										</a>
									</div>
									<div class="post-content media-body">
										<h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
										<div class="entry-meta meta-1 font-x-small color-grey mt-10">
											<span class="post-on">25 April</span>
											<span class="hit-count has-dot">54k Views</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="sidebar-widget widget-ads mb-30">
					<a href="/Assets/Se/imgs/news-1.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
						<img src="/Assets/Se/imgs/ads-4.jpg" alt="">
					</a>
				</div>
			</div>
		</aside>
		<!-- Main Wrap Start -->

		<header class="main-header header-style-1">
			<div class="header-logo background-logo text-center pt-40 pb-40 d-none d-lg-block">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<a href="index.html">
								<img style="width: 100px;height: 50px;" class="logo-img d-inline" src="/Assets/Se/imgs/logonews.png" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
			<!--End logo-->
			<div id="load_Header">
				<!--Header Category-->
			</div>
		</header>
		@RenderBody()

		<div id="footer">

		</div>
	</div> <!-- Main Wrap End-->
	<script src="~/Assets/Se/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="~/Assets/Se/js/vendor/popper.min.js"></script>
	<script src="~/Assets/Se/js/vendor/bootstrap.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.slicknav.js"></script>
	<script src="~/Assets/Se/js/vendor/owl.carousel.min.js"></script>
	<script src="~/Assets/Se/js/vendor/slick.min.js"></script>
	<script src="~/Assets/Se/js/vendor/wow.min.js"></script>
	<script src="~/Assets/Se/js/vendor/animated.headline.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.magnific-popup.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.ticker.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.vticker-min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.scrollUp.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.nice-select.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.sticky.js"></script>
	<script src="~/Assets/Se/js/vendor/perfect-scrollbar.js"></script>
	<script src="~/Assets/Se/js/vendor/waypoints.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.counterup.min.js"></script>
	<script src="~/Assets/Se/js/vendor/jquery.theia.sticky.js"></script>
	<script src="~/Assets/Se/js/custom.js"></script>
	<!-- UltraNews JS -->
	@*<script src="~/Assets/Se/js/main.js"></script>*@
	@RenderSection("Scripts", required: false)

	<script>
		$(document).ready(function () {
			console.log(123);
			GetHeader();
			GetFooter();
			$(".search-box").click(function () {
		alert("Handler for .click() called.");
	});
		});
		function GetHeader() {
			$.ajax({
				url: "/Home/Header",
				type: "GET",
				data: null,
				success: function (msg) {
					$("#load_Header").html(msg);
					//GetSlider();
				},
				error: function (errormessage) {
					console.log(errormessage);
				}
			});
		}
		function GetFooter() {
			$.ajax({
				url: "/Home/Footer",
				type: "GET",
				data: null,
				success: function (msg) {
					$("#footer").html(msg);
				},
				error: function (errormessage) {
					console.log(errormessage);
				}
			});
		}

	</script>
</body>


</html>
