﻿@{
	ViewData["Title"] = "Detail";
	Layout = "~/Areas/Se/Views/Shared/_Layout.cshtml";
}
@{
	var article = ViewBag.articleDetail as GetResponse<ArticlePublicViewModel>;
	var listArticle = ViewBag.listArticle as GetResponse<Article>;
	var x = 0;
}
<div class="main_content sidebar_right pb-50">
	<div class="container">
		<div class="single-header-3 single-header-2 row no-gutters mb-50 background12 border-radius-5">
			<div class="col-lg-6 col-md-12 align-center-vertical order-2 order-lg-1">
				<div class="entry-header entry-header-1">
					<div class="entry-meta meta-0 font-small mb-30"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@article.Model.Category.Id"><span class="post-cat background2 color-white">@article.Model.Category.Name</span></a></div>
					<h1 class="post-title">
						<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@article.Model.Id">@article.Model.Title</a>
					</h1>
					<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
						<span class="post-by">By <a href="author.html">@article.Model.User.FullName</a></span>
						<span class="post-on has-dot">@article.Model.CreateAt</span>
						@*<span class="time-reading has-dot">8 mins read</span>*@
						@*<span class="hit-count"><i class="ti-bolt"></i> 129k Views</span>*@
					</div>
					<div class="bt-1 border-color-1 mt-30 mb-30"></div>
					@*<div class="single-social-share clearfix ">
							<div class="entry-meta meta-1 font-small color-grey float-left mt-10">
								<span class="hit-count"><i class="ti-comment mr-5"></i>82 comments</span>
								<span class="hit-count"><i class="ti-heart mr-5"></i>68 likes</span>
								<span class="hit-count"><i class="ti-star mr-5"></i>8/10</span>
							</div>
							<ul class="d-inline-block list-inline float-right">
								<li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-facebook"></i></a></li>
								<li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-twitter-alt"></i></a></li>
								<li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-pinterest"></i></a></li>
								<li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center color-white" target="_blank" href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>*@
				</div>
			</div>
			<!--end entry header-->
			<div class="col-lg-6 col-md-12 order-1 order-lg-2">
				<figure class="single-thumnail img-hover-slide mb-0">
					<img src="@article.Model.Thumbnail" alt="" />
				</figure>
				<span class="top-right-icon background8"><i class="mdi mdi-favorite"></i></span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="entry-main-content">
					<h2>Nội dung bài viết</h2>
					<hr class="wp-block-separator is-style-wide">
					<div>@Html.Raw(@article.Model.Content)</div>
					<div class="bt-1 border-color-1 mt-30 mb-30"></div>

					<!--related posts-->
					<div class="related-posts">
						<h3 class="mb-30">Bài viết cùng chủ đề</h3>
						<div class="loop-list">
							@foreach (var item in listArticle.Models)
							{
								<article class="row mb-30">
									<div class="col-md-4">
										<div class="post-thumb position-relative thumb-overlay">
											<div class="img-hover-slide border-radius-5 position-relative">
												<img src="@item.Thumbnail" alt="" />
												<a class="img-link" asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id"></a>
												<span class="top-right-icon background2"><i class="mdi mdi-audiotrack"></i></span>
											</div>
										</div>
									</div>
									<div class="col-md-8 align-center-vertical">
										<div class="post-content">
											<div class="entry-meta meta-0 font-small mb-15"><a asp-area="Se" asp-controller="Category" asp-action="GetCategory" asp-route-id="@article.Model.Category.Id"><span class="post-cat background1 color-white">@article.Model.Category.Name</span></a></div>
											<h4 class="post-title">
												<a asp-area="Se" asp-controller="Article" asp-action="Detail" asp-route-id="@item.Id">@item.Title</a>
											</h4>
											<div class="entry-meta meta-1 font-small color-grey mt-15 mb-15">
												<span class="post-on"><i class="ti-marker-alt"></i>@item.CreatedAt</span>
											</div>
											<p class="font-medium description-article">@Html.Raw(ConvertHelper.StripHTML(item.Content))</p>
										</div>
									</div>
								</article>
							}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

